
Haskell/answer.txt
Haskell/beforeFinalScale.txt
Haskell/haskell-Ptest.txt
Haskell/haskell-Qtest.txt
Haskell/haskell-Vtest.txt
Haskell/haskell-Vtest.txt
Haskell/haskell-Qtest.txt
Haskell/haskell-Ptest.txt
Haskell/.DS_Store
.DS_Store
